<div class="page d-flex justify-content-center mb-20 mb-sm-16">
    <ul class="d-flex">
      <li class="page-pre"><a href="">上一頁</a></li>
      <li class="page-number"><a href="">1</a></li>
      <li class="page-number active"><a href="">2</a></li>
      <li class="page-number"><a href="">3</a></li>
      <li class="page-number"><a href="">4</a></li>
      <li class="page-number"><a href="">5</a></li>
      <li class="page-next"><a href="">下一頁</a></li>
    </ul>
  </div>