*,*:before,*:after{
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    opacity: 0.8;
  }
  
  body {
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  img {
    vertical-align: bottom;
  }
