.header {
  background-color: #AA0601;
  .logo {
    width: 80px;
    height: 48.57px;
  }

  @media(max-width: 1296px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media(max-width: 767px){
    .logo {
      margin-left: 15px;
    }
    ul {
      width: 100%;
      margin-top: 15px;
    }
    .py-25 {
      padding: 0;
    }
    li {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
      width: 50%;
      border: 1px solid #FFFFFF;
    }
    .me-16 {
      margin-right: 0;
    }
    
    .container {
      padding-right: 0;
      padding-left: 0 ;
    }
  }
}