.newCollection {
    .nav {
        li {
            border: 1px solid #DCDCDC;
            width: 100%;
        }
        a {
            color: black;
            padding: 24px 119px;
            display: block;
        }
        a:hover {
            background-color: #000000;
            color: white;
            border-bottom: 6px solid #AA0601;
        }
        .active {
            border-bottom: 6px solid #AA0601;
        }
        .img {
            height: 296px;
            @include background-image;
            &-1 {
                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true);
            }
            &-2 {
                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true);
            }
        }
        @media (max-width:1280px) {
            a {
                padding: 16px 48px;
            }
        }
        @media (max-width:992px){
            .container {
                padding-right: 0;
                padding-left: 0;
            }
            .img {
                height: 296px;
                &-1 {
                    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true);
                }
                &-2 {
                    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true);
                }
            }
        }
        @media (max-width:767px){
            a {
                padding: 16px 12px;
            }
            .img {
                height: 136px;
            }
        }
    }
    .celluloidCombi {
        img {
            height: 224px;
            max-width: 100%;
        }

        .color {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            &-5F3E2D {
                background-color: #5F3E2D;
            }
            &-B75929 {
                background-color: #B75929;
            }
        }
    }
}